<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <head th:replace="sys/header"></head>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
        <Row :gutter="16">
            <div class="search-group">
                <i-col span="4">
                    <!--<i-input v-model="q.name" @on-enter="query" placeholder="客户名称"/>-->
                    <i-select
                            v-model="q.name"
                            filterable
                            remote
                            :remote-method="filterCuName"
                            :loading="loadingFilterCuName" placeholder="客户名称">
                        <i-option v-for="(option, index) in customerOptions" :value="option.label" :key="option.label" :label="option.label"></i-option>
                    </i-select>
                </i-col>
                <i-col span="4">
                    <i-select v-model="q.cuIsVip" placeholder="客户类型">
                        <i-option value="1">VIP</i-option>
                        <i-option value="0">单次客户</i-option>
                    </i-select>
                </i-col>
                <i-col span="4">
                    <!--全部 人员列表-->
                    <!--<i-input v-model="q.cuAddEmpId" @on-enter="query" placeholder="销售负责人"/>-->
                    <i-select v-model="q.cuMarketEmpId" filterable placeholder="销售负责人">
                        <i-option v-for="staff in staffList" :value="staff.staffId" :key="staff.staffId">{{staff.name}}</i-option>
                    </i-select>
                </i-col>
                <i-button @click="query">查询</i-button>
                <i-button @click="reloadSearch">重置</i-button>
            </div>
            <div class="buttons-group">
                <i-button type="info" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</i-button>
                <i-button type="warning" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</i-button>
                <i-button type="error" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</i-button>
            </div>
        </Row>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
        <span th:text="${jsVersion}"></span>
    </div>

    <Card v-show="!showList">
        <p slot="title">{{title}}</p>
		<i-form ref="customer" :model="customer" :rules="ruleValidate" :label-width="100">
            <Form-item label="客户编号" prop="cuNumber">
                <i-input v-model="customer.cuNumber" readonly placeholder="系统生成"/>
            </Form-item>
            <Form-item label="客户名称" prop="cuName">
                <i-input v-model="customer.cuName" placeholder="客户名称"/>
            </Form-item>
            <Form-item label="客户简称" prop="cuSimpleName">
                <i-input v-model="customer.cuSimpleName" placeholder="客户简称"/>
            </Form-item>
            <!--<Form-item label="拼音名称" prop="cuPyName">
                <i-input v-model="customer.cuPyName" placeholder="拼音名称"/>
            </Form-item>
            <Form-item label="拼音简称" prop="cuSimplePyName">
                <i-input v-model="customer.cuSimplePyName" placeholder="拼音简称"/>
            </Form-item>-->
            <Form-item label="电话" prop="cuPhone">
                <i-input v-model="customer.cuPhone" placeholder="电话"/>
            </Form-item>

           <row>
			 <Form-item v-for="(item, index) in customer.address"
			            	:label="'地址'+(index+1)"  :key="index"
	                :prop="'address.' + index + '.caAddress'"
	                :rules="{required: true, message:'客户地址不能为空', trigger: 'blur'}">
	              <i-col span=20>
			                <i-input v-model="item.caAddress" placeholder="地址"/>
	              </i-col>
	              <Col span="4" offset="1">
	                    <i-Button v-if="index<=(customer.address.length-1) && (customer.address.length-1)!=0"  @click="addressRemove(index)">删除</i-Button>
	                    <i-Button v-if="index==(customer.address.length-1)" @click="addressAdd" >添加</i-Button>
	              </Col>
	               </Form-item>
	            </row>

             <row>
	             <FormItem  v-for="(item, index) in customer.contact">
			             <i-col span=10>
				            <Form-item :label="'联系人'+(index+1)"  :key="index"
		                :prop="'contact.' + index + '.ccContact'"
		                :rules="{required: true, message:'联系人不能为空', trigger: 'blur'}">
				                <i-input v-model="item.ccContact" placeholder="联系人"/>
				            </Form-item>
		              </i-col>
		              <i-col span=10>
				            <Form-item :label="'联系人手机'+(index+1)"  :key="index"
		                :prop="'contact.' + index + '.ccPhone'"
		                :rules="{required: true, message:'联系人手机不能为空', trigger: 'blur'}">
				                <i-input v-model="item.ccPhone" placeholder="联系人手机"/>
				            </Form-item>
		              </i-col>
		              <i-col span="4" >
		                    <i-Button v-if="index<=(customer.contact.length-1) && (customer.contact.length-1)!=0"  @click="contactRemove(index)">删除</i-Button>
		                    <i-Button v-if="index==(customer.contact.length-1)" @click="contactAdd" >添加</i-Button>
		              </i-col>
			      </FormItem>
			   </row>




<!--             <Form-item label="地址" prop="cuAddress">
                <i-input v-model="customer.cuAddress" placeholder="地址"/>
            </Form-item>
            <Form-item label="联系人" prop="cuContact">
                <i-input v-model="customer.cuContact" placeholder="联系人"/>
            </Form-item>
            <Form-item label="联系人手机" prop="cuContactPhone">
                <i-input v-model="customer.cuContactPhone" placeholder="联系电话"/>
            </Form-item> -->
            <!--<Form-item label="传真" prop="cuFax">
                <i-input v-model="customer.cuFax" placeholder="传真"/>
            </Form-item>
            <Form-item label="邮政编码" prop="cuZipCode">
                <i-input v-model="customer.cuZipCode" placeholder="邮政编码"/>
            </Form-item>
            <Form-item label="网址" prop="cuUrl">
                <i-input v-model="customer.cuUrl" placeholder="网址"/>
            </Form-item>
            <Form-item label="邮箱" prop="cuEmail">
                <i-input v-model="customer.cuEmail" placeholder="邮箱"/>
            </Form-item>-->
            <Form-item label="负责人" prop="cuPrincipal">
                <i-input v-model="customer.cuPrincipal" placeholder="负责人"/>
            </Form-item>
            <Form-item label="负责人手机" prop="cuPrincipalPhone">
                <i-input v-model="customer.cuPrincipalPhone" placeholder="负责人手机"/>
            </Form-item>
            <!--<Form-item label="客户来源" prop="cuSource">
                &lt;!&ndash;<i-input v-model="customer.cuSource" placeholder="客户来源"/>&ndash;&gt;
                <i-select v-model="customer.cuSource" filterable placeholder="客户来源">
                    <i-option v-for="item in cuSourceList" :value="item.name" :key="item.id">{{item.name}}</i-option>
                </i-select>
            </Form-item>-->
            <!--<Form-item label="状态" prop="cuState">
                <i-input v-model="customer.cuState" placeholder="状态"/>
            </Form-item>-->
            <Form-item label="VIP客户" prop="cuIsVip" v-show="vipCustomerManage">
                <!--<i-input v-model="customer.cuIsVip" placeholder="是否vip"/>-->
                <!--<i-select v-model="customer.cuIsVip" placeholder="客户类型">
                    <i-option selected value="0">单次客户</i-option>
                    <i-option value="1">VIP</i-option>
                </i-select>-->

                <Checkbox v-model="customer.cuIsVip" true-value="1" false-value="0" @on-change="change_cuIsVip"></Checkbox>
            </Form-item>
            <Form-item v-show="vipCustomerManage" label="开始时间" v-if="customer.cuIsVip==1" prop="cuContractBeginTime">
                <!--<i-input v-model="customer.cuContractBeginTime" placeholder="合同开始时间"/>-->
                <!--<Date-picker type="date" placeholder="合同开始时间"
                             v-model="customer.contractBeginTime"></Date-picker>-->
                <Date-picker type="date" placeholder="合同开始时间" format="yyyy-MM-dd"
                             v-model="customer.cuContractBeginTime"></Date-picker>
            </Form-item>
            <Form-item v-show="vipCustomerManage" label="结束时间" v-if="customer.cuIsVip==1" prop="cuContractEndTime">
                <!--<i-input v-model="customer.cuContractEndTime" placeholder="合同结束时间"/>-->
                <!--<Date-picker type="date" placeholder="合同结束时间"
                             v-model="customer.contractEndTime"></Date-picker>-->
                <Date-picker type="date" placeholder="合同结束时间" format="yyyy-MM-dd"
                             v-model="customer.cuContractEndTime"></Date-picker>
            </Form-item>
            <Form-item label="销售负责人" prop="cuMarketEmpId">
                <!--<i-input v-model="customer.cuAddEmpId" placeholder="销售负责人"/>-->
                <i-select v-model="customer.cuMarketEmpId" filterable>
                    <i-option v-for="staff in staffList" :value="staff.staffId" :key="staff.staffId">{{staff.dpmName}}----{{staff.name}}</i-option>
                </i-select>
            </Form-item>
            <!--<Form-item label="创建人编号" prop="cuAddEmpNumber">
                <i-input v-model="customer.cuAddEmpNumber" placeholder="创建人编号"/>
            </Form-item>-->
            <!--<Form-item label="创建时间" prop="cuAddTime">
                <i-input  v-model="customer.cuAddTime" readonly placeholder="创建时间"/>
            </Form-item>-->
            <!--<Form-item label="更新人编号" prop="cuUpEmpNumber">
                <i-input v-model="customer.cuUpEmpNumber" placeholder="更新人编号"/>
            </Form-item>
            <Form-item label="更新时间" prop="cuUpTime">
                <i-input v-model="customer.cuUpTime" placeholder="更新时间"/>
            </Form-item>-->
            <Form-item label="备注信息" prop="cuRemark">
                <i-input v-model="customer.cuRemark" type="textarea" :rows="4" placeholder="备注信息"/>
                <!--<Input v-model="customer.cuRemark" type="textarea" :rows="4" placeholder="备注信息" />-->
            </Form-item>
            <Form-item>
                <i-button type="primary" @click="handleSubmit('customer')">提交</i-button>
                <i-button type="warning" @click="reload" style="margin-left: 8px"/>返回</i-button>
                <i-button type="ghost" @click="handleReset('customer')" style="margin-left: 8px">重置</i-button>
            </Form-item>
        </i-form>
	</Card>
</div>

<script th:src="'/js/yscrms/customer.js?v=' + ${jsVersion}"></script>
</body>
</html>