<!DOCTYPE html>
<html>
<head>
    <title></title>
    <head th:replace="sys/header"></head>
    <style type="text/css">
        #newCaseInfo .ivu-form-item {
            margin-bottom: 8px;
            vertical-align: top;
            zoom: 1;
        }
    </style>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
        <Row :gutter="16">
            <div class="search-group">
                <i-col span="3" style="width:150px">
                    <i-input v-model="q.ncNumber" @on-enter="query" placeholder="案件编号"/>
                </i-col>
                <i-col span="4">
                    <!--<i-input v-model="q.ncCuName" @on-enter="query" placeholder="客户名称"/>-->
                    <i-select
                            v-model="q.ncCuName"
                            filterable
                            :loading="loadingFilterCuName" placeholder="客户名称">
                        <i-option v-for="(option, index) in customers" :value="option.cuName+'_'+option.cuPyName+option.cuSimplePyName" :key="option.cuName" :label="option.cuName"></i-option>
                    </i-select>
                </i-col>
                <i-col span="2">
                    <!--<i-input v-model="q.ncCaseType" @on-enter="query" placeholder="案件类型"/>-->
                    <i-select v-model="q.ncCaseType" @on-enter="query" filterable placeholder="案件类型">
                        <i-option v-for="item in caseTypeList" :value="item.name" :key="item.id">{{item.name}}</i-option>
                    </i-select>
                </i-col>
                <i-col span="2">
                    <i-select v-model="q.ncCaseState" @on-enter="query" v-show="showCaseStatusCondition" placeholder="案件状态">
                        <i-option value="0">未调度</i-option>
                        <i-option value="1">外勤退回</i-option>
                        <!--<i-option value="2">调度退回</i-option>-->
                        <!--<i-option value="3">已调度</i-option>-->
                       <!-- <i-option value="4">已删除</i-option>-->
                        <!--
                        <i-option value="5">已接受（无效）</i-option>
                        <i-option value="6">已注销</i-option>
                        <i-option value="7">已完成</i-option>
                        <i-option value="8">客户撤案</i-option>
                        <i-option value="9">转单案件（无效）</i-option>
                        <i-option value="10">已转单</i-option>
                        <i-option value="11">客户撤案（无效）</i-option>-->
                    </i-select>
                </i-col>
                <i-col span="3" style="width:150px">
                    <Date-picker id="dp1" type="date" placeholder="开始时间" format="yyyy-MM-dd"
                                 v-model="q.beginTime"></Date-picker>
                </i-col>
                <i-col span="3" style="width:150px">
                    <Date-picker  id="dp2" type="date" placeholder="结束时间" format="yyyy-MM-dd"
                                 v-model="q.endTime"></Date-picker>
                </i-col>

                <i-button @click="query">查询</i-button>
                <i-button @click="reloadSearch">重置</i-button>
            </div>
            <div class="buttons-group">

                <i-button type="info" @click="query_dispatch" v-show="queryBtn"><i class="fa fa-pencil-square-o" ></i>&nbsp;查看</i-button>
                <i-button type="warning" @click="dispatch" v-show="dispatchBtn"><i class="fa fa-pencil-square-o"></i>&nbsp;调度/再次调度</i-button>
                <i-button type="error" @click="dispatchBack" v-show="dispatchBackBtn"><i class="fa fa-trash-o"></i>&nbsp;注销案件</i-button>
                <i-button type="primary" @click="cancel" v-show="cancelBtn"><i class="fa fa-trash-o"></i>&nbsp;取消调度</i-button>
            </div>
        </Row>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    <!--查询案件详细-->
    <Card v-show="!showList" id="newCaseInfo">
        <p slot="title">{{title}}</p>
		<i-form  :model="newCase" :label-width="100">
            <Form-item label="案件编号" prop="ncNumber">
                <i-input v-model="newCase.ncNumber" readonly placeholder="系统生成"/>
            </Form-item>
            <!--<Form-item label="客户id" prop="ncCuId">
                <i-input v-model="newCase.ncCuId" placeholder="客户id"/>
            </Form-item>
            <Form-item label="客户编号" prop="ncCuNumber">
                <i-input v-model="newCase.ncCuNumber" placeholder="客户编号"/>
            </Form-item>-->
            <Form-item label="客户名称" prop="ncCuName">
                <!--<i-input v-model="newCase.ncCuName" placeholder="客户名称"/>-->
                <i-input v-model="newCase.ncCuName" readonly placeholder="客户名称"/>
            </Form-item>
            <Form-item label="客户地址" prop="ncAddress">
                <i-input v-model="newCase.ncAddress" readonly placeholder="客户地址"/>
            </Form-item>
            <Form-item label="联系人" prop="ncContactPerson">
                <i-input v-model="newCase.ncContactPerson" readonly placeholder="联系人"/>
            </Form-item>
            <Form-item label="联系电话" prop="ncContactPhone">
                <i-input v-model="newCase.ncContactPhone" readonly placeholder="联系电话"/>
            </Form-item>
            <Form-item label="上门时间" prop="ncTaskTime">
                <!--<i-input v-model="newCase.ncTaskTime" placeholder="任务时间"/>-->
                <Date-picker  id="dp3" type="datetime" v-model="newCase.ncTaskTime" readonly format="yyyy-MM-dd HH:mm"
                             placeholder="上门时间"></Date-picker>
                             
   
            </Form-item>
            <Form-item label="案件类型" prop="ncCaseType">
                <i-input v-model="newCase.ncCaseType" readonly placeholder="案件类型"/>
                <!--<i-select v-model="newCase.ncCaseType" filterable readonly placeholder="案件类型">
                    <i-option v-for="item in caseTypeList" :value="item.name" :key="item.id">{{item.name}}</i-option>
                </i-select>-->
            </Form-item>
            <Form-item label="案件状态" prop="ncCaseState">
                <i-select v-model="newCase.ncCaseState" disabled  placeholder="案件状态">
                    <i-option value="0">未调度</i-option>
                    <i-option value="1">外勤退回</i-option>
                    <i-option value="2">调度退回</i-option>
                    <i-option value="3">已调度</i-option>
                    <i-option value="4">已删除</i-option>
                    <i-option value="5">已接受</i-option>
                    <i-option value="6">已注销</i-option>
                    <i-option value="7">已完成</i-option>
                    <i-option value="8">客户撤案</i-option>
                    <i-option value="9">转单案件</i-option>
                    <i-option value="10">已转单</i-option>
                    <i-option value="11">客户撤案</i-option>
                </i-select>
            </Form-item>
            <!--<Form-item label="案件状态" prop="ncCaseState">
                <i-input v-model="newCase.ncCaseState" placeholder="案件状态"/>
            </Form-item>
            <Form-item label="默认状态" prop="ncDefaultState">
                <i-input v-model="newCase.ncDefaultState" placeholder="默认状态"/>
            </Form-item>
            <Form-item label="设备配置" prop="ncMachineConfig">
                <i-input v-model="newCase.ncMachineConfig" placeholder="设备配置"/>
            </Form-item>
            <Form-item label="是否评价" prop="ncIsReview">
                <i-input v-model="newCase.ncIsReview" placeholder="是否评价"/>
            </Form-item>
            <Form-item label="是否多人任务" prop="ncIsManyTask">
                <i-input v-model="newCase.ncIsManyTask" placeholder="是否多人任务"/>
            </Form-item>-->
            <!--<Form-item label="创建人编号" prop="ncAddEmpId">
                <i-input v-model="newCase.ncAddEmpId" placeholder="创建人编号"/>
            </Form-item>
            <Form-item label="创建人名称" prop="ncAddEmpName">
                <i-input v-model="newCase.ncAddEmpName" placeholder="创建人名称"/>
            </Form-item>
            <Form-item label="创建时间" prop="ncAddTime">
                <i-input v-model="newCase.ncAddTime" placeholder="创建时间"/>
            </Form-item>
            <Form-item label="更新人名称" prop="ncUpEmpName">
                <i-input v-model="newCase.ncUpEmpName" placeholder="更新人名称"/>
            </Form-item>
            <Form-item label="更新时间" prop="ncUpTime">
                <i-input v-model="newCase.ncUpTime" placeholder="更新时间"/>
            </Form-item>-->
            <Form-item label="案件描述" prop="ncRemark">
                <i-input v-model="newCase.ncRemark" readonly placeholder="案件描述"/>
            </Form-item>
            <Form-item label="前三次处理技术" prop="threeTechList">
                <span v-for="item in newCase.threeTechList" :value="item.name" :key="item.name">{{item.name}}   {{item.dateStr}}<br/></span>
            </Form-item>
            <!--<Form-item label="" prop="ncOpenNumber">
                <i-input v-model="newCase.ncOpenNumber" placeholder=""/>
            </Form-item>
            <Form-item label="" prop="ncOpenName">
                <i-input v-model="newCase.ncOpenName" placeholder=""/>
            </Form-item>
            <Form-item label="" prop="ncOpenTime">
                <i-input v-model="newCase.ncOpenTime" placeholder=""/>
            </Form-item>-->
            <Form-item v-show="(data1 == null || data1.length == 0) && !showList_dispatch && !showList_dis_info">
                <i-button type="warning" @click="reload" style="margin-left: 8px"/>返回</i-button>
            </Form-item>
        </i-form>
	</Card>
    <Card v-show="data1.length > 0">
        <p slot="title">取消调度列表</p>
        <!--取消信息列表-->
        <i-table :columns="columns1" :data="data1"></i-table>
        <i-form  :label-width="100">
            <Form-item v-show="!showList_dispatch && !showList_dis_info">
                <i-button type="warning" @click="reload" style="margin-left: 8px ; margin-top: 20px;"/>返回</i-button>
            </Form-item>
        </i-form>
    </Card>
    <Card v-show="showList_dispatch">
        <p slot="title">调度信息</p>
        <i-form ref="dispatchInfo" :model="dispatchInfo" :rules="ruleValidate" :label-width="100">
            <Form-item label="要求上门时间" prop="ncTaskTime">
                <!--<i-input v-model="newCase.ncTaskTime" placeholder="任务时间"/>-->
                <Date-picker  id="dp4"  type="datetime" v-model="newCase.ncTaskTime" readonly format="yyyy-MM-dd HH:mm"
                             placeholder="要求上门时间"></Date-picker>
            </Form-item>
            <Form-item label="任务上门时间" prop="cdTaskTime">
                <!--<i-input v-model="newCase.ncTaskTime" placeholder="任务时间"/>-->
               <!--  <Date-picker  id="dp5"  type="datetime" :options="datePickRange" :time-picker-options="timePickerOption" v-model="dispatchInfo.cdTaskTime" format="yyyy-MM-dd HH:mm"
                             placeholder="任务上门时间" ></Date-picker> -->
                <date-picker id="dp5"  type="datetime" :options="datePickRange"   v-model="dispatchInfo.cdTaskTime"  
				 :time-picker-options="{'steps': [00, 15, 30,45],'disabled-hours':[0,1,2,3,4,5,6,7,19,20,21,22,23],'hide-disabled-options':{} }"  
				 format="yyyy-MM-dd HH:mm" 
				 placeholder="上门时间" style="width:150px"></date-picker>
            </Form-item>
            <Form-item label="案件负责人" prop="charges">
                <i-select v-model="dispatchInfo.charges" multiple placeholder="案件负责人 第一个是主负责人，其后是协助人">
                    <i-option v-for="staff in staffList" :value="staff.staffId" :key="staff.staffId">{{staff.dpmName}}----{{staff.name}}</i-option>
                </i-select>
            </Form-item>
            <Form-item label="处理建议" prop="cdSuggestion">
                <i-input v-model="dispatchInfo.cdSuggestion" type="textarea" :rows="4" placeholder="处理建议"/>
            </Form-item>
            <Form-item>
                <i-button type="primary" @click="handleSubmit('dispatchInfo')">提交</i-button>
                <i-button type="warning" @click="reload" style="margin-left: 8px"/>返回</i-button>
            </Form-item>
        </i-form>
    </Card>
    <!--调度信息查询 取消 -->
    <Card v-show="showList_dis_info">
        <p slot="title">调度信息</p>
        <i-form ref="caseModifyRecord" :model="caseModifyRecord"  :label-width="100" :rules="ruleValidate_cancel"> <!--:rules="ruleValidate_cancel"-->
            <Form-item label="要求上门时间" prop="ncTaskTime">
                <!--<i-input v-model="newCase.ncTaskTime" placeholder="任务时间"/>-->
                <Date-picker  id="dp6"  type="datetime" v-model="newCase.ncTaskTime" readonly format="yyyy-MM-dd HH:mm"
                             placeholder="要求上门时间"></Date-picker>
            </Form-item>
            <Form-item label="任务上门时间" prop="cdTaskTime">
                <!--<i-input v-model="newCase.ncTaskTime" placeholder="任务时间"/>-->
           <!--      <Date-picker  id="dp7"  type="datetime" v-model="dispatchInfo_cancel.cdTaskTime" readonly format="yyyy-MM-dd HH:mm"
                             placeholder="任务上门时间"></Date-picker> -->
                  <date-picker id="dp7"  type="datetime" :options="datePickRange" readonly  v-model="dispatchInfo_cancel.cdTaskTime"  
				 :time-picker-options="{'steps': [00, 15, 30,45],'disabled-hours':[0,1,2,3,4,5,6,7,19,20,21,22,23],'hide-disabled-options':{} }"  
				 format="yyyy-MM-dd HH:mm" 
				 placeholder="上门时间" style="width:150px"></date-picker>
            </Form-item>
            <Form-item label="案件负责人" prop="charges">
                <!--<i-select v-model="dispatchInfo.charges" multiple placeholder="案件负责人 第一个是主负责人，其后是协助人">
                    <i-option value="1" key="张三">张三</i-option>
                    <i-option value="2" key="李四">李四</i-option>
                    <i-option value="3" key="王五">王五</i-option>
                    <i-option value="4" key="赵六">赵六</i-option>
                    <i-option value="5" key="汤生">汤生</i-option>
                    <i-option value="6" key="张刘等三">刘等</i-option>
                    <i-option value="7" key="史蒂夫">史蒂夫</i-option>
                </i-select>-->
                <i-select v-model="dispatchInfo_cancel.charges" disabled multiple placeholder="案件负责人 第一个是主负责人，其后是协助人">
                    <i-option v-for="staff in staffList" :value="staff.staffId" :key="staff.staffId">{{staff.name}}</i-option>
                </i-select>
            </Form-item>
            <Form-item label="处理建议" prop="cdSuggestion">
                <i-input v-model="dispatchInfo_cancel.cdSuggestion" readonly type="textarea" :rows="4" />
            </Form-item>
            <Form-item v-show="showCancelFlag" label="取消原因" prop="cmrReason">
                <i-input v-model="caseModifyRecord.cmrReason" type="textarea" :rows="4" placeholder="取消原因"/>
            </Form-item>
            <Form-item>
                <i-button v-show="showCancelFlag" type="primary" @click="dispatch_cancel('caseModifyRecord')">取消调度</i-button>
                <i-button v-show="showCancelFlag" type="warning" @click="dispatch_cancel_client('caseModifyRecord')">客户撤案</i-button>
                <i-button type="warning" @click="reload" style="margin-left: 8px"/>返回</i-button>
            </Form-item>
        </i-form>
    </Card>
</div>

<script src="/js/yscrms/newcase_dispach.js?v=3"></script>
</body>
</html>
#parse("sys/foot.html")
