<!DOCTYPE html>
<html>
<head>
    <title>服务咨询统计</title>
    <head th:replace="sys/header"></head>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <Row :gutter="16">
            <div class="search-group">
                <i-col span="4">
                    <i-select v-model="q.cuId" @on-enter="query" placeholder="客户" style="width:100%;height: 32px">
                        <i-option v-for="cstm in cstmList" :value="cstm.cuId" :key="cstm.cuId">{{cstm.cuName}}
                        </i-option>
                    </i-select>
                </i-col>
                <i-col span="4">
                    <i-select v-model="q.staffId" @on-enter="query" placeholder="服务人员" style="width:100%;height: 32px">
                        <i-option v-for="staff in staffList" :value="staff.staffId" :key="staff.staffId">{{staff.name}}
                        </i-option>
                    </i-select>
                </i-col>
                <i-col span="4">
                    <Date-picker type="date" v-model="q.beginTime" format="yyyy-MM-dd" placeholder="调度起始日期"></Date-picker>
                </i-col>
                <i-col span="4">
                    <Date-picker type="date" v-model="q.endTime" format="yyyy-MM-dd" placeholder="调度结束日期"></Date-picker>
                </i-col>
                <i-button @click="query">&nbsp;统计</i-button>
                <i-button type="info" @click="exportRefer"><i class="fa fa-cloud-download"></i>&nbsp;&nbsp;导出</i-button>

            </div>
        </Row>


    </div>
    <div  v-cloak>
        <tabs value="name1">
            <tab-pane label="员工服务咨询统计" name="name1">
                <table id="jqGrid"></table>
            </tab-pane>

            <tab-pane label="客户服务咨询统计" name="name2">
                <table id="jqCuGrid"></table>
            </tab-pane>
        </tabs>
    </div>
</div>

<script src="/js/yscrms/refer.js?v=3"></script>
</body>
</html>