<!DOCTYPE html>
<html>
<head>
    <title>出勤统计</title>
    <head th:replace="sys/header"></head>
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <Row :gutter="16">
            <div class="search-group">
                <i-col span="4">
                    <Date-picker type="date" v-model="q.beginTime" format="yyyy-MM-dd" placeholder="完成起始日期"></Date-picker>
                </i-col>
                <i-col span="4">
                    <Date-picker type="date" v-model="q.endTime" format="yyyy-MM-dd" placeholder="完成结束日期"></Date-picker>
                </i-col>
                <i-button @click="query">&nbsp;统计</i-button>
                #if($shiro.hasPermission("stats:tech:export"))
                <i-button type="info" @click="exportDisp"><i class="fa fa-cloud-download"></i>&nbsp;导出</i-button>
                #end
            </div>
        </Row>
        <table id="jqGrid"></table>

    </div>
</div>

<script src="${rc.contextPath}/js/yscrms/tech.js?v=${jsVersion}"></script>
</body>
</html>