<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.luno.softone.dao.CityDao">



	<sql id="Base_Column_List">
		`ID`,
		`Name`,
		`CountryCode`,
		`District`,
		`Population`
	</sql>

	<select id="getById" resultType="com.luno.softone.model.entity.City"
			parameterType="java.lang.Integer">
		select
			<include refid="Base_Column_List" />
		from city
		where ID = #{id}
	</select>



</mapper>
